{% extends 'master.twig' %}

{% block estilos %}

<!-- DataTables CSS -->
<link href="{{ base_url() }}/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="{{ base_url() }}/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">

{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Ordenes de extracción</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <ol class="breadcrumb">
    <li>
      <i class="fa fa-dashboard"></i>
      <a href="{{ path_for('home') }}">Inicio</a>
    </li>
    <li class="active">
      <i class="fa fa-sign-out"></i> Ordenes
    </li>
  </ol>
  <div class="col-lg-12">
    {% include 'templates/partials/flash.twig' %}
    {% include 'templates/widgets/extraction/extractionList.twig' %}
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}

{% block scripts %}

<!-- DataTables JavaScript -->
<script src="{{ base_url() }}/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="{{ base_url() }}/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="{{ base_url() }}/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<script>
$(document).ready(function () {
  $('.tabla').DataTable({
    responsive: true,
    language: {
      processing: "Procesando....",
      search: "Buscar:",
      lengthMenu: "Mostrar _MENU_ elementos",
      info: "Mostrando los elementos _START_ de _END_ de _TOTAL_ en total",
      infoEmpty: "No existen elementos para mostrar",
      infoFiltered: "(filtrando de _MAX_ elementos en total)",
      infoPostFix: "",
      loadingRecords: "Cargando los registros",
      zeroRecords: "No hay registros para ese filtro",
      emptyTable: "No existen registros en la tabla",
      paginate: {
        first: "Primera",
        previous: "Anterior",
        next: "Siguiente",
        last: "Final"
      },
      aria: {
        sortAscending: ": ordenando de forma ascendente",
        sortDescending: ": ordenando de forma descendente"
      }
    }
  });
});
</script>

{% endblock %}
